<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @*<link href="/Areas/PC/Content/common.css" rel="stylesheet" />*@
    </head>
    <body>
        @*<h1>头部</h1>*@
        @RenderBody()
        @*<h2>尾部</h2>*@
    </body>
</html>